MONGODB_URL=mongodb://admin:smartglove2026@localhost:27017/smart_glove?authSource=admin
DATABASE_NAME=smart_glove
MODEL_PATH=models/sign_language_model.pkl

# MinIO
MINIO_ENDPOINT=127.0.0.1:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_BUCKET=smartglove-images
MINIO_SECURE=false
