# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Trained models
app/models_trained/*.pth
app/models_trained/*.json

# UV
uv.lock

# README
README.md

#dataset
app/dataset/
dataset/

# *.ino

*.html

normalize_flex.py